.manWritingNotes {
    width: 60%;
    display: flex;
    justify-content: center;
    img {
        margin-top: 2rem;
        height:35rem;
        width: 35rem;
    }   
}

@media (max-width: 1365px) {
    .manWritingNotes {
        img {
            height:25rem;
            width: 25rem;
        }
    }
}

@media (max-width: 915px) {
    .manWritingNotes {
        img {
            margin-top: 4rem;
            height:20rem;
            width: 20rem;
        }
    }
}


@media (max-width: 700px) {
    .manWritingNotes {
        width:100%;
        img {
            margin-top: 0;
            }
        }

}


@media (max-width: 360px) {
    .manWritingNotes {
        img {
            width: 15rem;
        }
    }
}

